<div class="container navbar navbar-top">
    <div class="navbar-inner">
        <div class="container" style="width: auto; padding: 0 20px;">
            <a class="brand" href="#">Links:</a>
            <ul class="nav">
                <li>{{#linkTo "home"}}Home{{/linkTo}}</li>
                <li> {{#linkTo "about"}}About{{/linkTo}}</li>
            </ul>
        </div>
    </div> 
</div>   
<div class="container">
    {{outlet}}
</div>